<%-- 
Name: 			deploy.xml.cst
Author: 		Marc Holmes
Description: 	Providing the project deploy file using an XML file.
%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Description="Providing the project deploy file using an XML file." %>
<%@ Assembly Name="Etomic.CodeSmithExtensions.BuildAutomation" %>

<%@ Property Name="ProjectSet" Type="Etomic.CodeSmithExtensions.BuildAutomation.ProjectSet" Description="The XML file containing the project definitions." %>
<%@ Property Name="ProjectNumber" Type="System.Int32" Description="The project element to use."%>

This is the DEPLOY file for <%=ProjectSet.Projects[ProjectNumber].Name%>
