<?xml version="1.0" encoding="utf-8" ?>
<cruisecontrol>
<project name="Etomic.Library.Transformer">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.Library.Transformer</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.Library.Transformer\</artifactDirectory>
    <modificationDelaySeconds>10</modificationDelaySeconds>

    <triggers>
      <intervalTrigger/>
    </triggers>
    
	<sourcecontrol type="vss" autoGetSource="true">
		<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
		<project>$/Solutions/Etomic.Library.Transformer/</project>
		<username>builder</username>
		<password>builder</password>
		<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.Library.Transformer</workingDirectory>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter9\</baseDirectory>
      <buildArgs>-D:debug=false</buildArgs>
      <buildFile>Etomic.Library.Transformer.Build.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

   <labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>

	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Library.Transformer\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Library.Transformer\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

<project name="Etomic.NAntExtensions">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.NAntExtensions</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.NAntExtensions\</artifactDirectory>
    <modificationDelaySeconds>10</modificationDelaySeconds>

    <triggers>
      <intervalTrigger/>
    </triggers>
    
	<sourcecontrol type="vss" autoGetSource="true">
		<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
		<project>$/Solutions/Etomic.NAntExtensions/</project>
		<username>builder</username>
		<password>builder</password>
		<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.NAntExtensions</workingDirectory>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter9\</baseDirectory>
      <buildArgs>-D:debug=false</buildArgs>
      <buildFile>Etomic.NAntExtensions.Build.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

   <labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>

	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.NAntExtensions\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.NAntExtensions\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

</cruisecontrol>
