<?xml version="1.0" encoding="utf-8" ?>
<cruisecontrol>
<project name="CodeGeneration">
    <modificationDelaySeconds>10</modificationDelaySeconds>

	<triggers>
      <intervalTrigger />
    </triggers>
    
	<sourcecontrol type="filesystem">
		<repositoryRoot>D:\dotNetDelivery\Chapter9\Data</repositoryRoot>
	</sourcecontrol>
    
    <build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter9\</baseDirectory>
      <buildFile>Builder.XSLT.xml</buildFile>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

</cruisecontrol>