<cruisecontrol>

<project name="Etomic.Library.Transformer">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.Library.Transformer</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.Library.Transformer\</artifactDirectory>
    <modificationDelaySeconds>10</modificationDelaySeconds>

	<triggers>
      <intervalTrigger/>
    </triggers>
    
	<sourcecontrol type="vss" autoGetSource="true">
		<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
		<project>$/Solutions/Etomic.Library.Transformer/</project>
		<username>builder</username>
		<password>builder</password>
		<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.Library.Transformer</workingDirectory>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter6\</baseDirectory>
      <buildArgs>-D:solution.stub=Library.Transformer -D:debug=false</buildArgs>
      <buildFile>Build.Core.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

   <labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>

	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Library.Transformer\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Library.Transformer\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

<project name="Etomic.Transformer.Win">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.Transformer.Win</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.Transformer.Win\</artifactDirectory>
	<modificationDelaySeconds>10</modificationDelaySeconds>
    
	<triggers>
      <intervalTrigger />
    </triggers>

	<sourcecontrol type="multi">
		<sourceControls>
			<vss autoGetSource="true">
				<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
				<project>$/Solutions/Etomic.Transformer.Win/</project>
				<username>builder</username>
				<password>builder</password>
				<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.Transformer.Win</workingDirectory>
			</vss>
			<filesystem>
				<repositoryRoot>D:\dotNetDelivery\Assemblies\Etomic.Library.Transformer</repositoryRoot>
			</filesystem>
		</sourceControls>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter6\</baseDirectory>
      <buildArgs>-D:solution.stub=Transformer.Win -D:debug=false</buildArgs>
      <buildFile>Build.Core.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

	<labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>
    
	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Transformer.Win\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Transformer.Win\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

<project name="Etomic.Transformer.Web">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.Transformer.Web</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.Transformer.Web\</artifactDirectory>
	<modificationDelaySeconds>10</modificationDelaySeconds>
    
	<triggers>
      <intervalTrigger/>
    </triggers>

	<sourcecontrol type="multi">
		<sourceControls>
			<vss autoGetSource="true">
				<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
				<project>$/Solutions/Etomic.Transformer.Web/</project>
				<username>builder</username>
				<password>builder</password>
				<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.Transformer.Web</workingDirectory>
			</vss>
			<filesystem>
				<repositoryRoot>D:\dotNetDelivery\Assemblies\Etomic.Library.Transformer</repositoryRoot>
			</filesystem>
		</sourceControls>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter6\</baseDirectory>
      <buildArgs>-D:solution.stub=Transformer.Web -D:debug=false</buildArgs>
      <buildFile>Build.Core.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

	<labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>
    
	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Transformer.Web\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.Transformer.Web\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
  </project>
</cruisecontrol>