<cruisecontrol>

<project name="Etomic.ShareTransformer">
	<webURL>http://localhost/ccnet/Controller.aspx?_action_ViewProjectReport=true&amp;server=local&amp;project=Etomic.ShareTransformer</webURL>
    <artifactDirectory>D:\dotNetDelivery\BuildAreaCI\Publish\Etomic.ShareTransformer\</artifactDirectory>
    <modificationDelaySeconds>10</modificationDelaySeconds>

	<triggers>
      <intervalTrigger />
    </triggers>
    
	<sourcecontrol type="vss" autoGetSource="true">
		<ssdir>"D:\dotNetDelivery\VSS"</ssdir>
		<project>$/Solutions/Etomic.ShareTransformer/</project>
		<username>builder</username>
		<password>builder</password>
		<workingDirectory>D:\dotNetDelivery\BuildAreaCI\Source\Etomic.ShareTransformer</workingDirectory>
	</sourcecontrol>
    
	<build type="nant">
      <baseDirectory>D:\dotNetDelivery\Chapter8\</baseDirectory>
      <buildArgs>-D:solution.stub=ShareTransformer -D:debug=false</buildArgs>
      <buildFile>Build.Core.xml</buildFile>
      <targetList>
        <target>ci</target>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>

   <labeller type="defaultlabeller">
     <prefix>1.0.</prefix>
   </labeller>

	<tasks>
        <merge>
            <files>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.ShareTransformer\*-results.xml</file>
                <file>D:\dotNetDelivery\BuildAreaCI\Reports\Etomic.ShareTransformer\fxcop.xml</file>
            </files>
        </merge>
    </tasks>
    
	<publishers>
      <xmllogger />
    </publishers>
  
</project>

</cruisecontrol>